# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User-specific
xcuserdata/

## Scripts
*.focus
*.provis

## Build results
build/
DerivedData/

## Tests
*.xccoverage
*.google_thumbnails

## Standard build products
*.app
*.appex
*.framework
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

## Swift Package Manager
.build/

## Package.resolved
# Package.resolved should be committed.
# However, if you are developing a package it may sometimes be useful to ignore it.
# Package.resolved

## Misc
.DS_Store
*.swp
*.lock
.LSOverride

## JIRA
atlassian-ide-plugin.xml

## Crashlytics
crashlytics.plist

## Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

## Firebase
google-services.json

## Carthage
Carthage/Build/

## AccuRev
.accurev/

## AppCode
.idea/

## GNU
*~
*.orig

## Mac
.DS_Store

## Firebase
GoogleService-Info.plist
