--header strip
--importgrouping alpha
--indent 4
--linebreaks lf
--maxwidth 120
--modifierorder acl
--self insert
--semicolons never
--stripunusedargs always
--trimwhitespace always
--commas inline
--comments indent
--ranges no-space
--emptybraces no-space
--hexliteralcase lowercase
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
